*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(135deg,#141E30,#243B55); /* Dark gradient */
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background: linear-gradient(135deg,#2C3E50,#4CA1AF); /* Dark glassy gradient */
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
}
.box h1{
    margin-bottom: 20px;
    color: #f1f1f1; 
    text-shadow: 2px 2px #141E30;
}
.content{
    margin-bottom: 30px;
}
.input , .gender ,.heightweight {
    margin-bottom: 20px;
}
.iph,.ipw{
    margin-bottom: 10px;
}
label{
    font-size: 14px;
    font-weight: 600;
    color: #ddd; 
}
#heig,#weig,#age{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #685f5f;
    border-radius: 10px;
    background: #0f2a42; 
    color: #eee;
    outline: none;
    transition: border 0.3s;
}
#heig:focus,#weig:focus,#age:focus{
    border: 1px solid #4f4e63;
}
.gender label{
    margin-right: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #aaa; 
}
.input,.gender,.heightweight{
    text-align: left;
    margin-bottom: 15px;
}
.heightweight{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.iph,.ipw{
    flex: 1;
}
button{
    background: #141E30;
    color: #f9f9f9;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: #2C3E50;
}
.result{
    margin-top: 20px;
    padding: 15px;
    background: #1f2b3c; 
    border-radius: 10px;
}
.result .ans{
    font-size: 24px;
    font-weight: 600;
    color: #4ca1af; 
    margin: 10px 0;
    text-shadow: 2px 2px #0f2a42;
}
.comment{
   font-size: 16px; 
   font-weight: 600;
   margin-top: 10px;
   color: #ddd;
}
.tips{
   font-size: 16px; 
   font-weight: 600;
   margin-top: 10px; 
   color: #7f828d; 
   text-align: left;
   margin-left: 120px;
}
#pp{
    color: #ddd;
}
